{% extends 'MDBAssetBundle::layout.html.twig' %}

{% block title %}Delete a asset{% endblock %}
{% block headline %}You are going to delete an asset, this cannot be undo !{% endblock %}
{% block content %}

<h1>Are you sure ?</h1>

<table class="table table-striped table-bordered">
	<tbody>
		<tr>
			<td>Name</td>
			<td>{{ asset.name }}</td>
		</tr>
		<tr>
			<td>Code</td>
			<td>{{ asset.code }}</td>
		</tr>
		<tr>
			<td>Parent</td>
			<td>{{ asset.parent }}</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>{{ asset.description }}</td>
		</tr>
	</tbody>
</table>

<form action="{{ path('mdb_asset_admin_delete', {'code': asset.code }) }}" method="post">
	<div class="span12 row">
		<input class="btn btn-large btn-danger"type="submit" value="I know what I'm doing, DELETE it !" />
			<a class="btn" href="{{ url('mdb_locator_location_index') }} ">Cancel</a>
	</div>
</form>
{% endblock %}
